<div id="demo-index" class="container">
  <%= image_tag "image.jpg", class: "top-image" %>

  <br>

  <%= link_to "体験版に申し込む", "", class: "button align-center apply-button" %>

  <div class="section tasucaru-service">
    <h2>tasucaruとは</h2>
    <div class="service">
      tasucaruはちょっとした手助けが必要なシニアと大学生のサポーターを繋げるサービスです。
      <br>
      やりたいけどなかなかできない掃除や片付けをやってほしい。
      <br>
      日用品や食料品の補充をお願いしたい。
      <br>
      電子機器の操作を教えてほしい。
      <br>
      tasukaruではこんなシニアの方のお宅に、毎週大学生がお伺いして、サポートを行います。
    </div>
  </div>

  <div class="section tasucaru-points">
    <h2>tasucaruの3つの特徴</h2>
    <div class="points">
      <div class="point">
        <div class="point-image">
          <%= image_tag "worker.jpg" %>
        </div>
        <div class="small-title">
          独自基準を満たしたスタッフ
        </div>
        <div class="explanation">
          都内の有名大学に通う大学生の中から、独自の基準で選んだ信頼できるサポーターがお伺いします。
        </div>
      </div>
      <div class="point">
        <div class="point-image">
          <%= image_tag "message.png" %>
        </div>
        <div class="small-title">
          メッセージで気軽に依頼
        </div>
        <div class="explanation">
          メッセージで事前に頼みたいことを伝えられます。電話でも対応しています。
        </div>
      </div>
      <div class="point">
        <div class="point-image">
          <%= image_tag "kind.png" %>
        </div>
        <div class="small-title">
          定期的なコミュニケーション
        </div>
        <div class="explanation">
          毎週決まった曜日、時間に若い学生がやってきて話す機会は、日常の刺激になります。
        </div>
      </div>
    </div>
  </div>

  <div class="section tasucaru-example">
    <h2>tasucaruで頼めること</h2>
    <div class="examples">
      <div class="example">
        <%= image_tag "kaimono.jpg" %>
        <div class="explanation">
          買い物
        </div>
      </div>
      <div class="example">
        <%= image_tag "gaishutu.jpg" %>
        <div class="explanation">
          外出の付き添い
        </div>
      </div>
      <div class="example">
        <%= image_tag "denshikiki.jpg" %>
        <div class="explanation">
          電子機器の取り扱い
        </div>
      </div>
      <div class="example">
        <%= image_tag "souji.jpg" %>
        <div class="explanation">
          掃除
        </div>
      </div>
      <div class="example">
        <%= image_tag "niwa.jpg" %>
        <div class="explanation">
          庭の手入れ
        </div>
      </div>
    </div>
  </div>

  <div class="section tasucaru-price">
    <h2>料金</h2>
    <table class="table table-bordered .table-striped">
      <thead>
        <tr>
          <th>週の訪問回数</th>
          <th>時間</th>
          <th>料金(月額)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1回</td>
          <td>1時間半</td>
          <td>1万円</td>
        </tr>
        <tr>
          <td>2回</td>
          <td>1時間半</td>
          <td>2万円</td>
        </tr>
        <tr>
          <td>3回</td>
          <td>1時間半</td>
          <td>3万円</td>
        </tr>
      </tbody>
    </table>
    <div class="explanation">
      ※お支払いは銀行振込で承っております。
    </div>
  </div>

  <div class="section tasucaru-place">
    <h2>提供地区</h2>
    <%= image_tag "tokyo.png" %>
    <div class="explanation">
      以上の地域で現在ご利用いただけます。対象地域は拡大中です。
    </div>
    <div class="place">
      東京都千代田区
      <br>
      東京都文京区
      <br>
      東京都新宿区
    </div>
  </div>

  <div class="section tasucaru-flow">
    <h2>利用の流れ</h2>
    <ul>
      <li>①LINE@に登録</li>
      <li>②質問に沿って、希望する回数、曜日の候補選択</li>
      <li>③決定した内容が通知されます</li>
      <li>④指定日の前日から、担当スタッフと連絡を取り、頼みたいことを伝えられます。</li>
    </ul>
  </div>
  <%= link_to "体験版に申し込む", "", class: "button align-center apply-button" %>
</div>
