<div id="demo-index" class="">
  <div class="index-header">
    <h1>
      シニアと若者をつなぐ
    </h1>
    <div class="header-explain">
      tasucaruはちょっとした手助けが必要なシニアと大学生のサポーターを繋げるサービスです。
      <br>
      掃除、日用品や食料品の買い物、電子機器の操作方法などの日常の悩み事を解決するため、
      <br>
      毎週大学生が自宅にお伺いして、サポートを行います。
    </div>
    <div class="header-apply">
      <%= link_to "体験版に申し込む", apply_landing_demo_index_path, class: "button apply-button header-apply-btn" %>
    </div>
  </div>

  <div class="section tasucaru-points">
    <div class="point">
      <div class="point-explain">
        <h2 class="point-title">家事のお手伝い</h2>
        <div class="point-message">
          高いところの掃除や、車の必要な買い出しなど、自分でするのはちょっと大変な家事を手伝ってもらったり
        </div>
      </div>
      <div class="point-img">
        <%= image_tag "point1.png" %>
      </div>
    </div>
    <div class="point">
      <div class="point-img">
        <%= image_tag "point2.png" %>
      </div>
      <div class="point-explain">
        <h2 class="point-title">電子機器のサポート</h2>
        <div class="point-message">
          最近買ったスマホやパソコンなどの電子機器の使い方を教えてもらったり
        </div>
      </div>
    </div>
    <div class="point">
      <div class="point-explain">
        <h2 class="point-title">日常の話相手</h2>
        <div class="point-message">
          退屈な1日のちょっとした話し相手になってもらったり、Tasucaruの使い方は様々です。
        </div>
      </div>
      <div class="point-img">
        <%= image_tag "point3.png" %>
      </div>
    </div>
  </div>

  <div class="section tasucaru-staff">
    <div class="staff-title">
      <div class="icon">
        <%= image_tag "human-icon.png" %>
      </div>
      <h2>Tascrew(タスクルー)</h2>
    </div>
    <div class="staff-message">
      <div class="small-text">
        お手伝いするのは大学生の
      </div>
      <div class="big-text">
        <span>タスクルー</span>
        Tascrew
      </div>
    </div>
    <div class="staff-points">
      <div class="point">
        <%= image_tag "staff1.png" %>
        <div class="point-title">
          明るく元気
        </div>
        <div class="point-message">
          話していて元気になる学生ばかり
        </div>
      </div>
      <div class="point">
        <%= image_tag "staff2.png" %>
        <div class="point-title">
          有名大学の学生
        </div>
        <div class="point-message">
          都内有名大学の学生なので、安心安全
        </div>
      </div>
      <div class="point">
        <%= image_tag "staff3.png" %>
        <div class="point-title">
          信頼できる
        </div>
        <div class="point-message">
          面接を経ているので、新rないできる学生ばかり
        </div>
      </div>
    </div>
  </div>
</div>
