<div class="landing-footer">
  <div class="footer-content">
    <div class="footer-high">
      <ul class="footer-list">
        <li>
          <%= link_to "Tasucaruとは", "" %>
        </li>
        <li>
          <%= link_to "大学生の方へ", "" %>
        </li>
        <li>
          <%= link_to "シニアの方へ", "" %>
        </li>
        <li>
          <%= link_to "Q&A", "" %>
        </li>
      </ul>
      <ul class="footer-list">
        <li>
          <%= link_to "運営会社概要", "" %>
        </li>
        <li>
          <%= link_to "プライバシーポリシー", "" %>
        </li>
        <li>
          <%= link_to "利用規約", "" %>
        </li>
        <li>
          <%= link_to "お問い合わせ", "" %>
        </li>
      </ul>
      <div class="footer-line">
        <div class="line-link">
          <p>申し込みはこちらから</p>
          <a href="https://line.me/R/ti/p/%40gob8789o"><img border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
        </div>
        <div class="footer-logo">
          <%= image_tag "logo-white.png" %>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      Copyright © <span>tasucaru</span> All rights reserved
    </div>
  </div>
</div>
