<nav class="main-header">
  <div class="header-content">
    <%= link_to root_path, class: "header-logo" do %>
      <%= image_tag 'logo-theme.png', style: ""%>
    <% end %>
    <div class="user-sign">
      <% if current_user %>
        <%= link_to "マイページ", user_path(current_user), class: "header-link" %>
        <span></span>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "header-link" %>
        <span></span>
        <%= link_to "ログイン", new_user_session_path, class: "header-link" %>
      <% end %>
    </div>
  </div>
</nav>
