<div class="post-form container">
  <%= form_for @post do |f| %>
    <%= f.label 'タイトル', class: "label" %>
    <br>
    <%= f.text_field :title, class: "form-text" %>
    <br>
    <%= f.label '本文', class: "label" %>
    <br>
    <%= f.text_area :content, class: "form-text area" %>
    <br>
    <%= f.submit 'submit', value: "投稿する", class: "btn-theme" %>
  <% end %>
</div>
