<ul id="posts" class="list flex">
  <% posts.each do |p| %>
    <li class="post-cell">
      <%= link_to post_path(p) do %>
        <div class="post-header flex">
          <div class="post-date">
            <%= p.created_at.strftime("%Y年%-m月%-d日 %H:%M")%>
          </div>
          <div class="post-user">
            <%= p.user.name %>
          </div>
        </div>
        <div class="post-body">
          <div class="post-title">
            <%= p.title %>
          </div>
          <div class="post-content">
            <%= p.content %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
